In [ ]:
####https://github.com/Code-Institute-Solutions/sample-datasets/blob/main/titanic.csv
###https://www.kaggle.com/code/ahmdayman/retail-sales-dataset
##git pull origin main
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

In [6]:
df = px.data.carshare()
df = df.head(50)
print(df.shape)
df.head()

(50, 4)

   centroid_lat  centroid_lon    car_hours  peak_hour
0     45.471549    -73.588684  1772.750000          2
1     45.543865    -73.562456   986.333333         23
2     45.487640    -73.642767   354.750000         20
3     45.522870    -73.595677   560.166667         23
4     45.453971    -73.738946  2836.666667         19